[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rplcd = "*"
smbus2 = "*"
pigpio = "*"
pigpio-encoder = {editable = true, git = "https://github.com/Inqbus/pigpio_encoder.git"}

[dev-packages]

[requires]
python_version = "3.7"
